body {
  /* background-color: #20201d; */
  background-color: var(--body_background);
  color: var(--body_color);

  /* color: #fff; */
  width: 100%;
  padding: 0px 30px;
}

.movie-app .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
label {
  border-radius: 50%;
}
